body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.calculator {
  background-color: rgb(192, 192, 192);
  box-shadow: 4px 3px rgba(53, 53, 53, 0.61);
  height: 600px;
  width: 400px;
  max-height: 100vh;
  border: 1px groove rgb(53, 53, 53);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.display {
  height: 20%;
  margin: 2px;
  color: white;
  background-color: rgb(53, 53, 53);
  border-radius: 5px;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.buttoncontainer {
  height: 80%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
button {
  border-radius: 5px;
  border: 1px groove rgb(53, 53, 53);
  margin: 2px;
  font-size: 15px;
}
button:hover {
  border: 2px groove white;
}
.operatorbutton {
  background-color:rgb(223, 109, 2);
  color: white;
}
.operatorbutton:hover {
  background-color:rgb(158, 90, 1);
}
.numberbutton {
  background-color: rgb(53, 53, 53);
  color: white;
}
.numberbutton:hover {
  background-color: rgb(101, 76, 107);
}
#clearbutton, #equalsbutton, #deletebutton {
  background-color: rgb(114, 114, 114);
  color: white;
}
#clearbutton:hover, #equalsbutton:hover, #deletebutton:hover {
  background-color: rgb(211, 211, 211);
  color: rgb(53, 53, 53);
  border-color: rgb(160, 160, 160);
}
#number0 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
#number1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
#number2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#number3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
#number4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
#number5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#number6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
#number7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#number8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#number9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
#equalsbutton {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}
#clearbutton {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#deletebutton {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
#add {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
#subtract {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
#multiply {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
#divide {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
#decimal {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}
.footer {
  margin-top: 40px;
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(192, 192, 192);
}